# 11: FUNCTIONS

![](function.jpg)

In [ ]:
import turtle

turtle.pensize(4)
turtle.speed(5)
turtle.color("indigo")

def shape(size,sides):
    for i in range(sides):
        turtle.forward(size)
        turtle.left(360/sides)

In [ ]:
import turtle

turtle.pensize(4)
turtle.speed(5)
turtle.color("indigo")

def shape(size,sides):
    for i in range(sides):
        turtle.forward(size)
        turtle.left(360/sides)

shape(100,4)   # Calling function with values of size and sides
turtle.done()

Practice:
    For a calculator app, define four basic functions sum,sub,mul and div with 2 arguments each,
    then show it's working by calling all these functions with some values.

# 12: VARIABLES

In [1]:
y=10   
name="Ajay"
print(y)
print(type(y))
print(name)
print(type(name))
y=20
print(y)
print(Y)

10
<class 'int'>
Ajay
<class 'str'>
20

NameError: name 'Y' is not defined

In [2]:
rent=10000
gas=500
gro=300
Total=rent+gas+gro
print(Total)

10800

In [3]:
rent=10100
gas=520
gro=340
Total=rent+gas+gro
print(Total)

10960

Variables can be with Capial Letters,Small Letters,Numbers,and Underscores(_).
But Never start with Numbers. Also no other special characters can be used(like #%^@ )

In [4]:
__=4
print(__)
_num=55
print(_num)
num_1=88
print(num_1)

4
55
88

In [5]:
2ndNum=99

SyntaxError: invalid syntax (<ipython-input-5-7e9bd4ffb954>, line 1)

In [6]:
book@4=100

SyntaxError: can't assign to operator (<ipython-input-6-b18d8ed1d5e8>, line 1)

In [7]:
#NEVER USE KEYWORDS AS VARIABLES
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# 13: LOCAL AND GLOBAL VARIABLES

In [6]:
def sum(a,b):
    print("a: ",a)
    print("b: ",b)
    
    total=a+b
    print("The Sum is: ",total)
    
sum(300,45)

a:  300
b:  45
The Sum is:  345

In [7]:
#RETURN
def sum(a,b):
    print("a: ",a)
    print("b: ",b)
    
    total=a+b
    print("The Sum is: ",total)
    return total
    
result=sum(34,400)
print("The Result is: ", result)

a:  34
b:  400
The Sum is:  434
The Result is:  434

In [9]:
#LOCAL VARIABLE

def sum(a,b):
    print("a: ",a)
    print("b: ",b)
    
    global total
    total=a+b
    return total
    
result=sum(34,45)
print("The Result is: ", result)
print("The total is: ",total)

a:  34
b:  45
The Result is:  79
The total is:  79

In [11]:
#GLOBAL VARIABLE

def sum(a,b):
    print("a: ",a)
    print("b: ",b)
    global x
    print("x: ",x)
    x=20
    total=a+b+x
    print("The Sum is: ",total)
    return total

x=10
result=sum(25,15)
print("The Result is: ", result)
print(x)

a:  25
b:  15
x:  10
The Sum is:  60
The Result is:  60
20

In [12]:
#WITH USER INPUTS

def sum(a,b):
    print("a: ",a)
    print("b: ",b)

    total=a+b
    return total

x=int(input("Enter Your First Number"))
y=int(input("Enter Your Second Number"))
result=sum(x,y)
print("The Result is: ",result)

Enter Your First Number600
Enter Your Second Number3000
a:  600
b:  3000
The Result is:  3600

# 14: DATA TYPES AND OPERATORS

In [ ]:
#Everything in Python is an object and every object in Python has a type. Some of the basic types
#include:
#     int (integer; a whole number with no decimal place)
#          10
#          -3
#     float (float; a number that has a decimal place)
#          7.41
#          -0.006
#     str (string; a sequence of characters enclosed in single quotes, double quotes, or triple
#           quotes)
#          'this is a string using single quotes'
#          "this is a string using double quotes"
#          '''this is a triple quoted string using single quotes'''
#          """this is a triple quoted string using double quotes"""
#     bool (boolean; a binary value that is either true or false)
#          True
#          False
#     NoneType (a special type representing the absence of a value)
#          None

In [15]:
#BY ASSAIGNING ITSELF IT DEFINES ITS TYPE
num=100.5
print(num)
print(type(num))

100.5
<class 'float'>

In [18]:
x=None
print(x)
print(type(x))

None
<class 'NoneType'>

In [17]:
n=-3.14
type(n)

float

In [19]:
add=True
type(add)

bool

In [20]:
# BASIC OPERATORS

# In Python, there are different types of operators (special symbols) that operate on different 
# values.
# Some of the basic operators include:
# Arithmetic operators
#     + (addition)
#     - (subtraction)
#     * (multiplication)
#     / (division)
#     ** (exponent)
4/2, 4**2 ,5**2,2**3

(2.0, 16, 25, 8)

In [23]:
# Assignment operators
#     = (assign a value)
#     += (add and re-assign; increment)
#     -= (subtract and re-assign; decrement)
#     *= (multiply and re-assign)

m=5
print(m)
m*=3
print(m)
m*=3
print(m)

5
15
45

In [24]:
# Comparison operators (return either True or False )
#     == (equal to)
#     != (not equal to)
#     < (less than)
#     <= (less than or equal to)
#     > (greater than)
#     >= (greater than or equal to)

5<=10,5==10

(True, False)

In [26]:
3<1

False

# 15: STRING OPERATIONS AND SPECIAL OPERATORS

In [31]:
#STRING CONCATENATION
STR1="I LOVE PYTHON "
STR2= "IT IS VERY EASY"
print(STR1+' '+STR2)

I LOVE PYTHON  IT IS VERY EASY

In [32]:
STR1*3

'I LOVE PYTHON I LOVE PYTHON I LOVE PYTHON '

In [35]:
#INDEX IN STRING
STR1[2]

'L'

In [38]:
STR1[-2]

'N'

In [40]:
STR1[7:14]

'PYTHON '

In [41]:
STR2[6:]

'VERY EASY'

In [42]:
STR2[:5]

'IT IS'

In [43]:
STR1.find("PYTHON")

7

In [44]:
STR2.lower()

'it is very easy'

In [45]:
STR1.replace("LOVE","LIKE")

'I LIKE PYTHON '

Ref: STRING METHODS
https://docs.python.org/3/library/stdtypes.html#string-methods

In [47]:
# Special Operators
# Floor Division
13//6

2

In [46]:
13/4

3.25

In [48]:
# Modulo Division
9%2

1

In [49]:
6%2      #can find odd or even

0

In [50]:
20%2

0