# 16: LIST IN PYTHON
Python has four basic inbuilt data structures namely Lists, Dictionary, Tuple and Set. These almost cover 80% of the our real world data structures.

In [36]:
Roll_No=45
name="John"
WEIGHT=65.8

In [37]:
#Creating a List
num=[]
type(num)

list

In [40]:
students=['Amal','Akshay','Azan','Lilly','Jack','Jerry']
students[0]

'Amal'

In [41]:
students[3]

'Lilly'

In [42]:
students[:3]

['Amal', 'Akshay', 'Azan']

In [43]:
students[5]='Jill'

In [45]:
students

['Amal', 'Akshay', 'Azan', 'Lilly', 'Jack', 'Jill']

In [47]:
students.append("Raju")

In [48]:
students

['Amal', 'Akshay', 'Azan', 'Lilly', 'Jack', 'Jill', 'Raju', 'Raju']

In [49]:
mark=[45,43.23,'nine']
type(mark[1])

float

In [53]:
x=['apple','banana']
y=['orange','lemon']
z=[x,y]
z[0][1]

'banana'

In [54]:
students.sort()
students

['Akshay', 'Amal', 'Azan', 'Jack', 'Jill', 'Lilly', 'Raju', 'Raju']

In [55]:
students.reverse()
students

['Raju', 'Raju', 'Lilly', 'Jill', 'Jack', 'Azan', 'Amal', 'Akshay']

In [56]:
marks=[98,67,85,90,75,82,60]

In [57]:
#Append an item to list
marks.append(61)
marks

[98, 67, 85, 90, 75, 82, 60, 61]

In [58]:
#Remove an item by value: remove()
marks.remove(98)
marks

[67, 85, 90, 75, 82, 60, 61]

In [60]:
#Remove items by index or slice: del
del(marks[0:2])
marks

[75, 82, 60, 61]

In [61]:
max(marks)

82

In [62]:
min(marks)

60

Link for Ref: 
    https://docs.python.org/3/tutorial/datastructures.html